# The ID of your GitHub App
APP_ID=123
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAmnPLrx+c4JdgsVth6u2MCV+twlWOX6VZsX/ab8fU0ltj3ppQ
doi2PwjtGXup9EpzsxCp2lGwYjtYmPy0V7EPp/NoBalaKIWngn24niaypSaVt7nT
dBpGimKi+dTvSx0eWTWkC/wuPym7lRJYGmKZfQDAMCCnmXHUpX5nn9u52C6D+VU/
FAZC73R9njIlWPb0dpfeAA2YeFXq8E+cT2RpJ4q2a6YnJeWe0Lq3Avx3ZObLLoDn
ut9tuaakbcjUkqQ2p17Xy7psacNfY7JLEtqW0uBfPVsD2M+jkFYvh1hSd6BVE1nB
75M4n803Zi3fcG723lM5UFYECMHYpN43yoJwCQIDAQABAoIBACmgcdH2BDLnuZCz
X1WQxkA0gEEzC9ctWlojajzcL7iuFuGE15DK0ct1XWmT0b9cXYhyQkTr5UzkT8GT
wgssVlremDeGaB0pwHbD6YD+TwGBv7IvrBTLjB157hDFWeT1qRtEAL2WLuSpG7xW
oFYkItf03tdZxbHuYvBjfAwyjQj9PTbijNS/nUqu5aBmkpr2Qu2ioXMx13ANqHEV
5YkJY4mRwYOzFLG0YJr/bjkzts8FAT3izNDOQ87eYSxPaQbi1S+qV7lTvHRSyHMc
z60EP5+bSutrsvjWkFnIaz7FESbD3ahBysNQaXy4mpVdYV4VPBjphxYiWPVhxtdq
KFjGTPECgYEAx9krYecGFm3APQOaOs36ku/lyOU5oBNc25+xyGQ5B4Fn07KijxC3
fGVNWUEKkdXfeVM1yxFADSahPxZ5jzWz3OKwQw1cQVZ0QMxdpYgB/IRPkrbV6eWG
LJx/xAQ3Pfgt0UeB1I5dMsICDMoERS6pBAuYCuDYVHxTimeU2iZvqk0CgYEAxdlZ
8XoZnAfIC8yqdBCPgb8yrsSo1AgVCixkZTBODmYDL92LMLQDpjgA5KPfJFHamnEo
BwAaxEJY3R7VkEL0NHRhQI4kHDRDlf2fXTUabF1HHtawfUvG51/GSchu1tg4X/7P
lCQpW8Dc9cu+1RCsvdjWodpNZE1Fj5pHAbz2wq0CgYEAufFs9OWP+3RYRizA5m/Z
8bc11Iq66B676jiWoL3ndf1ITmdJ6tUB88MJib8Dh5c4G1l5lpxRPSsxIlLV/ZJY
7G8a0vhuWviGp/e+NhLqzjmJFBf7xmlhQsbF9ep6P7VXY/4lZVCklGKAp8ea24fD
iFkFOTHk9g7LZ95iV+slQI0CgYBP4470+cejgGTfltnxGcrIqkqt1U0SqNzOCdTU
IygxmjGJP1z34ohistRxflYZFVA+8pgmE327Z8r4Jn43zUFMeP3YEk00ckokI5AZ
E9tCjHuuUSRcw59iSAMKQfu3lwFUidCJ0fw9R2gxe/7ni98knY01N6/uY2FGNhab
9hBx1QKBgQC8EgAy0Dxb/ZNARecJDnqSUygxMNeXO+ovZZeBmrlw6XovHyBaWeTj
VfQyZ6MMXBSPqrD+IIzd19rFhAU9hgvSHleIFbJHeCCZoB6AoPyNY0fOTZ+BxaOw
i9GDYVxObyR3tF6dvpZM4zDPo3jAjOjNu6j6NtChv1A25y+i+am4/w==
-----END RSA PRIVATE KEY-----"